<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <!--nav class="navbar navbar-dark bg-dark">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </nav-->
    <div class="jumbotron" align="center">
        <img class="img-fluid" src="img/logo.jpg">
    </div>
    <!--div id="nav-placeholder">NAV</div-->
    <!--div id="content-placeholder">CONTENT</div-->
</div>
<router-outlet></router-outlet>