<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Edit Board</title>
    </head>
    <body>
        <div class="container">
            <form action="#" th:action="@{/board/edit(id=${board.id})}" th:object="${board}" method="POST">
                <div class="modal-header" style="width: inherit">
                    <h1 class="modal-title" id="editBoardLabel">Edit Board</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="width: inherit">

                    <div class="form-group">
                        <label for="model" >MODEL</label>
                        <input id="model" type="text" class="form-control" placeholder="Enter model"  th:field="*{model}"/>
                    </div>
                    <div class="form-group" style="width: auto">
                        <label for="brand">BRAND</label>
                        <select id="brand" class="form-control" th:field="*{brand}">
                            <option value=""></option>
                            <option th:each="brand:${brands}" th:value="${brand}" th:utext="${brand}" th:selected="${board.brand}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="year">YEAR</label>
                        <input id="year" type="number" class="form-control" placeholder="Enter year" th:field="*{year}">
                    </div>
                    <div class="form-group">
                        <label for="shape">SHAPE</label>
                        <select id="shape" class="form-control" th:field="*{shape}">
                            <option value=""></option>
                            <option th:each="shape:${shapes}" th:value="${shape}" th:utext="${shape}" th:selected="${board.shape}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="profile">PROFILE</label>
                        <select id="profile" class="form-control" th:field="*{profile}">
                            <option value=""></option>
                            <option th:each="profile:${profiles}" th:value="${profile}" th:utext="${profile}" th:selected="${board.profile}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="type">TYPE</label>
                        <select id="type" class="form-control" th:field="*{type}">
                            <option value=""></option>
                            <option th:each="type:${types}" th:value="${type}" th:utext="${type}" th:selected="${board.type}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="core">CORE</label>
                        <select id="core" class="form-control" th:field="*{core}">
                            <option value=""></option>
                            <option th:each="core:${cores}" th:value="${core}" th:utext="${core}" th:selected="${board.core}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="base">BASE</label>
                        <select id="base" class="form-control" th:field="*{base}">
                            <option value=""></option>
                            <option th:each="base:${bases}" th:value="${base}" th:utext="${base}" th:selected="${board.base}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="flex">FLEX</label>
                        <select id="flex" class="form-control" th:field="*{flex}">
                            <option value=""></option>
                            <option th:each="flex:${flexes}" th:value="${flex}" th:utext="${flex}" th:selected="${board.flex}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="level">LEVEL</label>
                        <select id="level" class="form-control" th:field="*{level}">
                            <option value=""></option>
                            <option th:each="level:${levels}" th:value="${level}" th:utext="${level}" th:selected="${board.level}"/>
                        </select>
                    </div>
                </div>
                <div class="modal-footer" style="width: inherit">
                    <button type="submit" class="btn btn-default">SUBMIT</button>
                    <button type="reset"  class="btn btn-default">RESET</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                </div>
            </form>
        </div>
    </body>
</html>