<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"/>
<head>
    <meta charset="UTF-8"/>
    <title>Board Main</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    Board Main Page
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>BOARD ID</th>
                <th>MODEL</th>
                <th>BRAND</th>
                <th>YEAR</th>
                <th>SHAPE</th>
                <th>PROFILE</th>
                <th>TYPE</th>
                <th>CORE</th>
                <th>BASE</th>
                <th>FLEX</th>
                <th>LEVEL</th>
            </thead>
            <tbody>
                <tr th:each="board:${boards_list}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.model}"></td>
                    <td th:text="${board.brand}"></td>
                    <td th:text="${board.year}"></td>
                    <td th:text="${board.shape}"></td>
                    <td th:text="${board.profile}"></td>
                    <td th:text="${board.type}"></td>
                    <td th:text="${board.core}"></td>
                    <td th:text="${board.base}"></td>
                    <td th:text="${board.flex}"></td>
                    <td th:text="${board.level}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>