
    <div class="container">
        <a href="/board/add" class="btn btn-success" role="button" data-toggle="modal" data-target="#addBoardModal">ADD NEW BOARD</a>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>MODEL</th>
                <th>BRAND</th>
                <th>YEAR</th>
                <th>SHAPE</th>
                <th>PROFILE</th>
                <th>TYPE</th>
                <th>CORE</th>
                <th>BASE</th>
                <th>FLEX</th>
                <th>LEVEL</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="board:${boards_list}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.model}"></td>
                    <td th:text="${board.brand}"></td>
                    <td th:text="${board.year}"></td>
                    <td th:text="${board.shape}"></td>
                    <td th:text="${board.profile}"></td>
                    <td th:text="${board.type}"></td>
                    <td th:text="${board.core}"></td>
                    <td th:text="${board.base}"></td>
                    <td th:text="${board.flex}"></td>
                    <td th:text="${board.level}"></td>
                    <td><a th:href="@{'/board/'+${board.id}}" type="button" class="btn btn-info btn-sm" role="button">DETAILS</a></td>
                    <td><a th:href="@{'/board/edit/'+${board.id}}" type="button" class="btn btn-warning btn-sm" role="button">UPDATE</a></td>
                    <td><a th:href="@{'/board/remove/'+${board.id}}" type="button" class="btn btn-danger btn-sm" role="button">DELETE</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="addBoardModal">
        <div class="modal-dialog" style="width: auto">
            <div class="modal-content" style="width: inherit">
            </div>
        </div>
    </div>
