<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"/>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Board Main</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron" align="center">
            <h1>BOARDS</h1>
        </div>
        <div id="nav-placeholder"></div>
        <a href="/board/add" class="btn btn-default" role="button" data-toggle="modal" data-target="#addBoardModal">ADD NEW BOARD</a>
        <table class="table table-striped">
            <thead>
                <th>BOARD ID</th>
                <th>MODEL</th>
                <th>BRAND</th>
                <th>YEAR</th>
                <th>SHAPE</th>
                <th>PROFILE</th>
                <th>TYPE</th>
                <th>CORE</th>
                <th>BASE</th>
                <th>FLEX</th>
                <th>LEVEL</th>
            </thead>
            <tbody>
                <tr th:each="board:${boards_list}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.model}"></td>
                    <td th:text="${board.brand}"></td>
                    <td th:text="${board.year}"></td>
                    <td th:text="${board.shape}"></td>
                    <td th:text="${board.profile}"></td>
                    <td th:text="${board.type}"></td>
                    <td th:text="${board.core}"></td>
                    <td th:text="${board.base}"></td>
                    <td th:text="${board.flex}"></td>
                    <td th:text="${board.level}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="addBoardModal">
        <div class="modal-dialog" style="width: auto">
            <div class="modal-content" style="width: inherit">
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#nav-placeholder").load("../navbar");
        });
    </script>
</body>
</html>