<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Bindings details</title>
</head>
<body>
<div class="container">
        <div class="modal-header" style="width: inherit">
            <h1 class="modal-title" id="bindingDetailsLabel">Binding details</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body" style="width: inherit">

            <div class="form-group">
                <label for="model" >MODEL</label>
                <output id="model" th:text="${bindings.model}"/>
            </div>
            <div class="form-group">
                <label for="brand">BRAND</label>
                <output id="brand" th:text="${bindings.brand}"/>
            </div>
            <div class="form-group">
                <label for="year">YEAR</label>
                <output id="year" th:text="${bindings.year}"/>
            </div>
            <div class="form-group">
                <label for="strap">STRAP</label>
                <output id="strap" th:text="${bindings.strap}"/>
            </div>
            <div class="form-group">
                <label for="flex">FLEX</label>
                <output id="flex" th:text="${bindings.flex}"/>
            </div>
            <div class="form-group">
                <label for="level">LEVEL</label>
                <output id="level" th:text="${bindings.level}"/>
            </div>
        </div>
        <div class="modal-footer" style="width: inherit">
            <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
        </div>
</div>
</body>
</html>