
    <div class="container">
        <a href="/boots/add" class="btn btn-success" role="button" data-toggle="modal" data-target="#addBootsModal">ADD NEW BOOTS</a>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>MODEL</th>
                <th>BRAND</th>
                <th>YEAR</th>
                <th>LACING</th>
                <th>FLEX</th>
                <th>LEVEL</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="boots:${boots_list}">
                    <td th:text="${boots.id}"></td>
                    <td th:text="${boots.model}"></td>
                    <td th:text="${boots.brand}"></td>
                    <td th:text="${boots.year}"></td>
                    <td th:text="${boots.lacing}"></td>
                    <td th:text="${boots.flex}"></td>
                    <td th:text="${boots.level}">
                    <td><a th:href="@{'/boots/'+${boots.id}}" type="button" class="btn btn-info btn-sm" role="button">DETAILS</a></td>
                    <td><a th:href="@{'/boots/edit/'+${boots.id}}" type="button" class="btn btn-warning btn-sm" role="button">UPDATE</a></td>
                    <td><a th:href="@{'/boots/remove/'+${boots.id}}" type="button" class="btn btn-danger btn-sm" role="button">DELETE</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="addBootsModal">
        <div class="modal-dialog" style="width: auto">
            <div class="modal-content" style="width: inherit">
            </div>
        </div>
    </div>
