<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Boots Main</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron" align="center">
            <h1>BOOTS</h1>
        </div>
        <div id="nav-placeholder"></div>
        <a href="/boots/add" class="btn btn-default" role="button" data-toggle="modal" data-target="#addBootsModal">ADD NEW BOOTS</a>
        <table class="table table-striped">
            <thead>
            <th>BOOTS ID</th>
            <th>MODEL</th>
            <th>BRAND</th>
            <th>YEAR</th>
            <th>LACING</th>
            <th>FLEX</th>
            <th>LEVEL</th>
            </thead>
            <tbody>
            <tr th:each="boots:${boots_list}">
                <td th:text="${boots.id}"></td>
                <td th:text="${boots.model}"></td>
                <td th:text="${boots.brand}"></td>
                <td th:text="${boots.year}"></td>
                <td th:text="${boots.lacing}"></td>
                <td th:text="${boots.flex}"></td>
                <td th:text="${boots.level}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="addBootsModal">
        <div class="modal-dialog" style="width: auto">
            <div class="modal-content" style="width: inherit">
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#nav-placeholder").load("../navbar");
        });
    </script>
</body>
</html>