<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"/>
<head>
    <meta charset="UTF-8"/>
    <title>ERROR PAGE</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>ERROR PAGE</h1>
    <h2>There has been a error... </h2>
    <div>${ex.stackTrace}</div>
</body>
</html>