<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{css/site.css}"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/site.js}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Get Me Board</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </nav>
        <div class="jumbotron" align="center" >
            <img class="img-fluid" th:src="@{/img/logo.jpg}"/>
        </div>
        <div id="nav-placeholder">NAV</div>
        <div id="content-placeholder">CONTENT</div>
    </div>
    <script>
        $(function(){
            $("#nav-placeholder").load("navbar")
        });
    </script>
</body>
</html>
